<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{postLoginCommonPage}">

<head>
<title>Add Account</title>
</head>
<div layout:fragment="screen_description">
	<div class="img-holder">
		<div class="bg"></div>
		<h3>Get more things done with BookKeepo platform.</h3>
		<p>
			Access to the most powerful tool in the entire design and web industry.<br> <br> Nam
			libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
			placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
		</p>
	</div>
</div>
<div layout:fragment="form_content" id="form_content">
	<div class="form-items">
		<h3 class="form-title doubleunderlinetext">Add Company Profile</h3>
		<div th:if="${message}" th:text="${message}" class="alert alert-info"></div>
		<form autocomplete="off" th:action="@{/home/addcompany}" th:object="${company}" method="post"
			class="form-horizontal" role="form">
			<div class="row">
				<div class="col-md-6 form-group">
					<div class="form-group">
						<label>Company Information</label>
						<input type="text" class="form-control" name="name" th:field="*{companyName}" placeholder="Company Name" required>
						<input type="text" class="form-control" th:field="*{companyGstin}" placeholder="GST Number" required>
						<label th:if="${#fields.hasErrors('companyGstin')}" th:errors="*{companyGstin}" class="validation-message"></label>
						
					</div>
				</div>
				<div class="col-md-6 form-group">
					<div class="form-group">
						<label>Contact Details</label>
						<div class="form-row">
							<div class="col">
								<input type="email" class="form-control" name="email" th:field="*{companyEmail}"
									placeholder="E-mail Address" required> <label
									th:if="${#fields.hasErrors('companyEmail')}" th:errors="*{companyEmail}"
									class="validation-message"></label> <input type="text" class="form-control" name="phone"
									th:field="*{companyTelephone}" placeholder="Contact Number" required>
									<input type="text" class="form-control" th:field="*{companyState}" placeholder="State"
									required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Address</label>
						<textarea class="form-control" th:field="*{companyAddress}" required></textarea>
					</div>
				</div>
			</div>
			<div class="form-button text-right">
				<button type="reset" class="btn btn-light">Reset</button>
				<button id="submit" type="submit" class="ibtn">Save</button>
			</div>
		</form>
	</div>
</div>