<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{postLoginCommonPage}">

<head>
<title>Add Item</title>
</head>
<div class="img-holder fluid-height"
	layout:fragment="screen_description">
	<div class="bg"></div>
	<h5>Get more things done with BookKeepo platform.</h5>
	<br/>
		<p>Company Name : <b><span th:text= "${session.company!=null} ? ${session.company.CompanyName}:''" ></span></b></p>
		<p>Company GSTIN : <span th:text= "${session.company.companyGstin!=null && session.company.companyGstin!=''} ? ${session.company.companyGstin}:'Not Available'" /></span></p>
</div>
<div layout:fragment="form_content" id="form_content">
	<div class="form-items">
		<h3 class="form-title doubleunderlinetext">Add/Update Item Details</h3>
		<div id="alert" th:if="${message}" th:text="${message} "
			class="alert alert-info fade-in"></div>
		<form autocomplete="off" th:action="@{/home/additem}"
			th:object="${item}" method="post" class="form-horizontal" role="form"
			enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-6 form-group">
					<div class="form-group">
						<label>Item List</label> <select
							class="form-control" id="selectbasic" name="selectbasic">
							<option th:each="itemValue : ${itemList}" th:value="${itemValue.id}"
								th:text="${itemValue.productDescription}"></option>
						</select>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 form-group"><label class="field-description">Item Details</label>
					<textarea cols="40" rows="5" style="height: 60px;"
						th:field="*{productDescription}" required="required"></textarea>
					<label class="field-description">GST Rate</label>
					<input type="text" onfocus="(this.type='number')" min="0" class="form-control"
						th:field="*{productGstRate}" required>
				</div>
				<div class="col-md-4 form-group">
					<div class="form-group">
						<label class="field-description">HSN</label>
						<input type="text" class="form-control"
						th:field="*{productHnscode}"required>
						<div class="empty-space"></div>
						<div class="empty-space"></div>
						<div class="empty-space"></div>
						<label class="field-description">UOM</label>
						<input type="text" class="form-control"
						th:field="*{productUom}" required>
					</div>
				</div>
				<div class="col-md-2 form-group">
					<div class="form-group">
					<label class="field-description">Quantity</label>
						<input type="text" onfocus="(this.type='number')" min="0" class="form-control"
						th:field="*{productQuantity}" required>
						<div class="empty-space"></div>
						<div class="empty-space"></div>
						<div class="empty-space"></div>
					<label class="field-description">Rate</label>
						<input type="text" onfocus="(this.type='number')" min="0" class="form-control"
						th:field="*{productRate}" required>
					</div>
				</div>
				<div class="col-md-2 form-group">
					<div class="form-group">
						<label class="field-description">Discount</label>
						<input type="text" onfocus="(this.type='number')" min="0" class="form-control"
						th:field="*{productDiscount}" required>
					</div>
				</div>
										<input type="hidden" th:field="*{id}">
			</div>
			<div class="form-button text-right">
				<button type="reset" class="btn btn-light">Reset</button>
				<button id="submit" type="submit" class="ibtn">Save</button>
			</div>

		</form>
	</div>
</div>
<th:block layout:fragment="scripts">
	<script type="text/javascript">
	$(document).ready(function() {
		$("#selectbasic").change(function() {
			getItem();
		});
	});
	
	function getItem() {
		var itemId = $("#selectbasic").val();
		if(itemId !== '0'){
			$.ajax({
				type : "GET",
				contentType : "application/json",
				url : "getItemData?itemId=" + itemId,
				dataType : 'json',				
				success : function(data) {
					$("[name=productDescription").val(data.productDescription);
					$("[name=productGstRate").val(data.productGstRate);
					$("[name=productHnscode").val(data.productHnscode);
					$("[name=productUom").val(data.productUom);
					$("[name=productDiscount").val(data.productDiscount);
					$("[name=productRate").val(data.productRate);
					$("[name=productQuantity").val(data.productQuantity);
					$("[name=id").val(data.id);
				}
				});
		} else {
			$("[name=productDescription").val("");
			$("[name=productGstRate").val("");
			$("[name=productHnscode").val("");
			$("[name=productUom").val("");
			$("[name=productDiscount").val("");
			$("[name=productRate").val("");
			$("[name=productQuantity").val("");
			$("[name=id").val(0);
		}
	};
	</script>
</th:block>