<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{postLoginCommonPage}">

<head>
<title>Add Payment</title>
</head>
<div layout:fragment="screen_description">
	<div class="img-holder">
		<div class="bg"></div>
		<h3>Get more things done with BookKeepo platform.</h3>
		<p>
			Access to the most powerful tool in the entire design and web industry.<br> <br> Nam
			libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
			placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
		</p>
	</div>
</div>
<div layout:fragment="form_content" id="form_content">
		<div class="form-items">
			<h3 class="form-title doubleunderlinetext">Add A Payment</h3>
			<div id="alert" th:if="${message}" th:text="${message}" class="alert alert-info fade-in"></div>
			<form autocomplete="off" th:action="@{/home/addpayment}" th:object="${payment}"
				method="post" class="form-horizontal" role="form">

				
				<div class="row">
				<div class="col-md-6 form-group">
				<div class="form-group">
					<label>Account Name</label> <select th:field="*{accountRefNo.id}" class="form-control"
						id="selectbasic" name="selectbasic">
						<option th:each="account : ${accountList}" th:value="${account.id}"
									th:text="${account.accountName}"></option>
					</select>
					</div>
					<div class="form-group">
							<input type="text" id="gstin" class="form-control"
								 placeholder="GST Number" readonly="readonly"
								required> 
								
					</div>
					<label>Receipt Details</label>
						<select
							name="selectbasic" class="form-control" th:field="*{paymentReference}" required="required">
							<option class="form-control" value="">Select Payment Reference</option>
							<option class="form-control" value="On Account">On Account</option>
							<option class="form-control" value="Invoice Ref">Invoice Ref</option>
							<option class="form-control" value="Advance">Advance</option>
						</select>
						<input type="date"
						class="form-control" name="paymentDate" th:field="*{paymentDate}"
						placeholder="Receipt Date" required>
						<select name="selectbasic" class="form-control" th:field="*{paymentMode}" required="required">
							<option class="form-control" value="">Select Payment Mode</option>
							<option class="form-control" value="Cash">Cash</option>
							<option class="form-control" value="Bank">Bank</option>
						</select>
				</div>
				<div class="col-md-6 form-group">
				<div class="form-group">
						
						<label>Address</label>
					<textarea class="form-control" id="accountAddress"
						readonly="readonly" required></textarea>
						<div class="empty-space"></div>
						<div class="form-group">
					<label>Payment Information</label> <input type="text"
						class="form-control" name="name" th:field="*{paymentNumber}"
						placeholder="Payment Number" required>
				</div>
						<input type="number"
						class="form-control" name="paymentAmount" th:field="*{paymentAmount}"
						placeholder="Payment Amount" required>
						<textarea class="form-control" name="paymentDescription" th:field="*{paymentDescription}" placeholder="Payment Description"
							required></textarea>
					</div>
				</div>
				</div>
				<div class="form-button text-right">
					<button type="reset" class="btn btn-light">Reset</button>
					<button id="submit" type="submit" class="ibtn">Save</button>

				</div>
			</form>
		</div>
</div>
<th:block layout:fragment="scripts">
	<script type="text/javascript">
$(document).ready(function() {
	$("#selectbasic").change(function() {
		getAccountData();
	});
});

function getAccountData() {
	var accountName = $("#selectbasic").val();
	
	if(accountName !== "0"){
	$.ajax({
		type : "GET",
		contentType : "application/json",
		url : "getAccountData?accountName=" + accountName,
		dataType : 'json',				
		success : function(data) {
			document.getElementById('gstin').value = data.gstin;
			document.getElementById('accountAddress').value = data.accountAddress;
		}
		});
	} else {
		document.getElementById('gstin').value = "";
		document.getElementById('accountAddress').value = "";
	}
};

</script>
</th:block>