<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{postLoginCommonPage}">

<head>
<title>Add Payment</title>
</head>
<div layout:fragment="form_content" id="form_content">
	<div class="form-content form-sm">
		<div class="form-items">
			<h3 class="form-title doubleunderlinetext">Add A Payment</h3>
			<div th:if="${message}" th:text="${message}" class="alert alert-info"></div>
			<form autocomplete="off" th:action="@{/home}" th:object="${payment}"
				method="post" class="form-horizontal" role="form">

				<div class="form-group">
					<label>Payment Information</label> <input type="text"
						class="form-control" name="name" th:field="*{paymentNumber}"
						placeholder="payment Number" required>
				</div>
				<div class="form-group">
					<label>Account Name</label> <select th:field="*{accountName}"
						id="selectbasic" name="selectbasic">
						<option th:each="account : ${accountList}" th:value="${account}"
							th:text="${account}"></option>
					</select>

					<div class="form-row">
						<div class="col">
							<input type="text" id="gstin" class="form-control"
								th:field="*{gstin}" placeholder="GST Number" readonly="readonly"
								required> <label th:if="${#fields.hasErrors('gstin')}"
								th:errors="*{gstin}" class="validation-message"></label>

						</div>
						<div class="col">
							<input type="text" class="form-control" th:field="*{accountPan}"
								placeholder="PAN" readonly="readonly" required> <label
								th:if="${#fields.hasErrors('accountPan')}"
								th:errors="*{accountPan}" class="validation-message"></label>

						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Address</label>
					<textarea class="form-control" th:field="*{accountAddress}"
						readonly="readonly" required></textarea>
				</div>



				<div class="form-button text-right">
					<button type="reset" class="btn btn-light">Reset</button>
					<button id="submit" type="submit" class="ibtn">Save</button>

				</div>
			</form>
		</div>
	</div>
</div>
<th:block layout:fragment="scripts">
	<script type="text/javascript">
$(document).ready(function() {
	$("#selectbasic").change(function() {
		getGstin();
	});
});

function getGstin() {
	var accountNbr = $("#selectbasic").val();
	
	$.ajax({
		type : "GET",
		contentType : "application/json",
		url : "getGstinData?accountNbr=" + accountNbr,
		dataType : 'json',				
		success : function(data) {
		    var gstin = document.getElementById('gstin');
		    gstin.value = data;
		}
		});
};
</script>
</th:block>