<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WinWithWeb - GST Solutions</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/iofrm-style.css}">
    <link rel="stylesheet" th:href="@{/css/iofrm-theme2.css}">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="https://winwithweb.in" target="_blank">
                    <img class="logo-size" th:src="@{/images/logo-light.png}" alt="">
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">

                </div>
            </div>
            <div class="form-holder-beforelogin">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with BookKeepo platform.</h3>
                        <p>Access to one of the most powerful tool in the accounting industry.</p>
                        
                        <div class="page-links">
                          <a href="/login" class="active">Login</a><a href="/forgotPassword">Trouble Signing In?</a>
                        </div>  
                        
                        <div th:if="${message}" th:text="${message}"
					class="alert alert-info"></div>
					
                        <form autocomplete="off" th:action="@{/forgotPassword}" method="post"
			th:object="${user}" class="form-horizontal" role="form">
			
			<div class="form-group">
			<label>Select Your Issue</label>
	<select th:field="*{trouble}" class="form-control">
		<option th:value="0" class="form-control">Reset Password </option>
		<option th:value="1" class="form-control">Resend Activation Link</option>
	</select>
</div>

			<div class="form-group">
				<label>Enter Email</label> <input type="email" class="form-control"
					name="name" th:field="*{email}" placeholder="Enter Email" required>
				
			</div>

			<div class="form-button text-right">
				<button type="reset" class="btn btn-light">Reset</button>
				<button id="submit" type="submit" class="ibtn">Save</button>

			</div>
		</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>