<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{postLoginCommonPage}">

<head>
<title>Add Account</title>
</head>
<div layout:fragment="screen_description">
	<div class="img-holder">
		<div class="bg"></div>
		<h3>Get more things done with BookKeepo platform.</h3>
		<p>
			Access to the most powerful tool in the entire design and web industry.<br> <br> Nam
			libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
			placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
		</p>
	</div>
</div>
<div layout:fragment="form_content" id="form_content">
	
</div>