<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{postLoginCommonPage}">

<head>
<title>Dashboard</title>
</head>
	<div class="img-holder" layout:fragment="screen_description">
		<div class="bg"></div>
		<h5>Get more things done with BookKeepo platform.</h5>
		<br/>
		<div th:if="${session.company!=null}">
		<p>Company Name : <b><span th:text= "${session.company!=null} ? ${session.company.CompanyName}:''" ></span></b></p>
		<p>Company GSTIN : <span th:text= "${session.company.companyGstin!=null && session.company.companyGstin!=''} ? ${session.company.companyGstin}:'Not Available'" /></span></p>
		</div>
	</div>
<div layout:fragment="form_content" id="form_content">
</div>