<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">BookKeepo</title>
<meta name="description" content="" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/iofrm-style.css}">
<link rel="stylesheet" th:href="@{/css/iofrm-theme15.css}">
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">

</head>
<body>
<div th:replace="fragments/menu :: ${#strings.isEmpty(CompanyGSTIN)} ? 'menu_withoutCompanyGSTIN' : 'menu_withCompanyGSTIN'"></div>
	<div layout:fragment="invoice_fragment"></div>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/table.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.serializejson.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

	<script type="text/javascript">
	$( '#topheader .navbar-nav a' ).on( 'click', function () {
		$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
		$( this ).parent( 'li' ).addClass( 'active' );
	});
	
	$("#alert").fadeTo(2000, 500).slideUp(500);
</script>

<script type="text/javascript">
			if ( window.history.replaceState ) {
			window.history.replaceState( null, null, window.location.href );
			}
		</script>

	<th:block layout:fragment="scripts">
	</th:block>
</body>


</html>