<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">BookKeepo</title>
<meta name="description" content="" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/iofrm-style.css}">
<link rel="stylesheet" th:href="@{/css/iofrm-theme15.css}">
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">

</head>
<body>
<div id="topheader">
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<a class="navbar-brand" href="#">BookKeepo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor02" aria-controls="navbarColor02"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a th:class="nav-link"
					th:href="@{/home}">Home</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Company Details</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-default"
						aria-labelledby="navbarDropdownMenuLink-333">
						<a th:class="dropdown-item"
					th:href="@{/home/addcompany}">Add Company</a>
						<a th:class="dropdown-item"
					th:href="@{/home/addaccount}">Add Account</a> 
						<a th:class="dropdown-item"
					th:href="@{/home/addpayment}">Add Payment</a>
						<a th:class="dropdown-item"
					th:href="@{/home/addreceipt}">Add Receipts</a>
					</div>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Invoicing</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-default"
						aria-labelledby="navbarDropdownMenuLink-333">
						<a th:class="dropdown-item"
					th:href="@{/home/salesinvoice}">Tax Invoice</a>
						<a th:class="dropdown-item"
					th:href="@{/home/creditnote}">Credit Note</a>
						<a th:class="dropdown-item"
					th:href="@{/home/debitnote}">Debit Note</a>
					<a th:class="dropdown-item"
					th:href="@{/home/exportinvoice}">Export Invoice</a>
						<a th:class="dropdown-item"
					th:href="@{/home/addpurchaseorder}">Purchase Order</a>
						<a th:class="dropdown-item"
					th:href="@{/home/addpurchaseinvoice}">Purchase Invoice</a>
					</div>
				</li>
				<li><a th:class="nav-link"
					th:href="@{/home/additem}">Add Item</a></li>
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Reports</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-default"
						aria-labelledby="navbarDropdownMenuLink-333">
						<a th:class="dropdown-item"
					th:href="@{/home/showInvoice}">Show Invoices</a> 
						<a th:class="dropdown-item"
					th:href="@{/home/reports}">Generate Reports</a> 
						<a th:class="dropdown-item"
					th:href="@{/home/showitem}">Item Reports</a>
					<a th:class="dropdown-item"
					th:href="@{/home/showpayment}">Payment Reports</a>
					</div>
				</li>
			</ul>
			
			<ul class="navbar-nav ml-auto nav-flex-icons">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Accounts </a>
					<div class="dropdown-menu dropdown-menu-right dropdown-default"
						aria-labelledby="navbarDropdownMenuLink-333">
						<a class="dropdown-item" href="#">User Profile</a> <a
							class="dropdown-item" th:href="@{/home/changePassword}">Change Password</a> <a class="dropdown-item"
							th:href="@{/logout}">Sign Out</a>
					</div></li>
			</ul>
		</div>
	</nav>
	</div>
	<div layout:fragment="invoice_fragment"></div>
	<div class="form-body">
		<div class="row">

			<div layout:fragment="screen_description"></div>
			<div class="form-holder" id="form-data-holder">
				<div class="form-content form-sm" layout:fragment="form_content"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content">
			<div layout:fragment="page_content"></div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/table.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.serializejson.js}"></script>

	<script type="text/javascript">
	$( '#topheader .navbar-nav a' ).on( 'click', function () {
		$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
		$( this ).parent( 'li' ).addClass( 'active' );
	});
	
	$("#alert").fadeTo(2000, 500).slideUp(500);
</script>

<script type="text/javascript">
			if ( window.history.replaceState ) {
			window.history.replaceState( null, null, window.location.href );
			}
		</script>

</script>
	<th:block layout:fragment="scripts">
	</th:block>
</body>


</html>