<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{postLoginCommonPage}">

<head>
<title>Record Income</title>
</head>
<div class="img-holder fluid-height"
	layout:fragment="screen_description">
	<div class="bg"></div>
	<h5>Get more things done with BookKeepo platform.</h5>
	<br/>
		<p>Company Name : <b><span th:text= "${session.company!=null} ? ${session.company.CompanyName}:''" ></span></b></p>
		<p>Company GSTIN : <span th:text= "${session.company.companyGstin!=null && session.company.companyGstin!=''} ? ${session.company.companyGstin}:'Not Available'" /></span></p>
</div>
<div layout:fragment="form_content" id="form_content">
	<div class="form-items">
		<h3 class="form-title doubleunderlinetext">Record an Income - Accrued Income/Income Receivable</h3>
		<div id="alert" th:if="${message}" th:text="${message} "
			class="alert alert-info fade-in"></div>
		<form autocomplete="off" th:action="@{/home/recordincome}"
			th:object="${income}" method="post" class="form-horizontal" role="form"
			enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-6 form-group"><label class="mandatory field-description text-uppercase">Income Account</label>
					<select th:attr="onChange = 'autofillValues(\'' + ${accountList} +'\')'" th:field="*{incomeWithAccountReference.id}"
							class="form-control" id="selectbasic" name="selectbasic" onfocus="getIncomeAccountList()">
						</select>
					<label class="mandatory field-description text-uppercase">Date</label>
					<input type="date" class="form-control" name="incomeDate"
						th:field="*{incomeDate}" required>
					<label class="field-description">Income Description</label>
					<textarea class="form-control" th:field="*{incomeDescription}"></textarea>
				</div>
				<div class="col-md-6 form-group"><label class="mandatory field-description text-uppercase">Income Type</label>
					<input type="text" class="form-control" id="incomeType" name="incomeType" readonly="readonly" required>
					<label class="mandatory field-description text-uppercase">Amount</label>
					<input type="text" onfocus="(this.type='number')" onblur="(this.type='text')" min="0"
						class="form-control" name="incomeAmount" th:field="*{incomeAmount}" required>
						<label class="mandatory field-description">Expense Account Payable</label> <select th:field="*{incomePayableWithAccountReference.id}"
						class="form-control" id="selectbasicPayable">
						<option th:each="accountValue : ${accountList}"
							th:value="${accountValue.id}"
							th:text="${accountValue.accountName}"></option>
					</select>
				</div>
			</div>
			<div class="form-button text-right">
				<button type="reset" class="btn btn-light">Reset</button>
				<button id="submit" type="submit" class="ibtn">Save</button>
			</div>

		</form>
	</div>
</div>
<th:block layout:fragment="scripts">
	<script type="text/javascript">
	$(document).ready(function() {
		$("#selectbasic").change(function() {
			getAccountData();
		});
	});
	
	function getAccountData() {
		var accountId = $("#selectbasic").val();
		if(accountId !== '0' && accountId !== '-1'){
			$.ajax({
				type : "GET",
				contentType : "application/json",
				url : "/home/getAccountData?accountName=" + accountId,
				dataType : 'json',				
				success : function(data) {
					$("[name=incomeType]").val(data.accountType);
				}
				});
		} else {
			$("[name=incomeType]").val("");
			
			if(accountId === "-1"){
				window.open('/home/addaccount','_blank');
			}
		}
	};
	
	
	function getIncomeAccountList() {
		$("#selectbasic").empty();
		$.ajax({
			type : "GET",
			contentType : "application/json",
			url : "/home/getincomeaccountlist",
			dataType : 'json',			
			async : false,
			success : function(data) {			
				console.log(data);
				$.each(data, function (i, item) {
				    $("#selectbasic").append($('<option>', { 
				        value: item.id,
				        text : item.accountName 
				    }));
				});
			}
			});
	}
	</script>
</th:block>