<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{postLoginCommonInvoicePage}">
<head>
<title>Tax Invoice</title>
</head>

<div layout:fragment="invoice_fragment" id="form_content">
	<form id="form">
		<div class="form-content form-items needs-validation">
			<table id="headerDetailsTable" style="border: 1px solid black;"
				class="table table-width table-responsive-md text-center" >
				<colgroup>
						<col width="33%">
						<col width="34%">
						<col width="33%">
						</colgroup>
				<thead class="table-width">
					<tr bgcolor="#BFD6E9">
						<th class="text-center" width="100%" height="60" colspan="3"><h3
								class="text-center font-weight-bold text-uppercase">Invoice Details</h3></th>
					</tr>
				</thead>
				<tbody>
					<tr style="border: 0px;">
						<td rowspan="1" style="vertical-align : middle;"><img id="logo" height="100px" width="200px"
							th:src="|data:image/png;base64,${logoImage}"></td>
						<td align="left">
							<p class="companydetails" th:text="${company.companyName}"></p>
							<p class="companydetails" th:text="${company.companyTelephone}"></p>
							<p class="companydetails" id="headerGstin" th:text="${company.companyGstin}"></p>
							<p class="companydetails" th:text="${company.companyEmail}"></p>
							<p class="companydetails" th:text="${company.companyAddress}"></p>
							<p class="companydetails" th:text="${company.companyState}"></p>
						</td>
						<td>
							<p class="centerfromtop">Original for Recipient</p>
						</td>
					</tr>
				</tbody>
			</table>
<div id = "custom_alert"></div>
<div id="alert" th:if="${message}" th:text="${message} "
			class="text-center alert table-width alert-info fade-in"></div>
			<table id="invoiceDetailsTable" border="1"
				class="table table-width table-responsive-md text-center">
				<thead class="table-width">
					<tr bgcolor="#BFD6E9">
						<th class="text-center" width="100%" colspan="2"><h6
								class="text-center font-weight-bold text-uppercase py-3">[[${pageName}]]</h6>
								<input type="hidden" name="pageName" th:value="${pageName}"/></th>
					</tr>
				</thead>
				<tbody class="table-width">
					<tr>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="invoiceNo" placeholder="Invoice No." required="required" onblur="checkInvoiceNo(this)"></td>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="poNo" placeholder="PO No." required="required"></td>
					</tr>
					<tr>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="invoiceDate" onfocus="(this.type='date')" onChange="setDate(this);"
							onblur="if(!this.value)this.type='text'" placeholder="Invoice Date"
							required="required"></td>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="poDate" onfocus="(this.type='date')"
							onblur="if(!this.value)this.type='text'" placeholder="PO Date"
							required="required"></td>
					</tr>
					<tr>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="dateOfSupply" onfocus="(this.type='date')"
							onblur="if(!this.value)this.type='text'" placeholder="Date of Supply"
							required="required"></td>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="transportMode" placeholder="Transport Mode"
							required="required"></td>
					</tr>
					<tr>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="placeOfSupply" placeholder="Place of Supply"
							required="required"></td>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="vehicleNo" placeholder="Vehicle No" required="required"></td>
					</tr>
					<tr>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="state" placeholder="State" required="required"></td>
						<td class="pt-3-half" bgcolor="#EEFF74"><input type="text"
							class="form-control" name="reverseCharge"
							placeholder="Reverse Charge (Y/N)" onKeyDown="inputValidate()" maxlength="1" required="required"></td>
					</tr>
				</tbody>
			</table>

			<table id="partyDetailsTable" border="1"
				class="table table-width table-responsive-md text-center">

				<thead>
					<tr bgcolor="#BFD6E9">
						<th class="text-center"><span style='font-weight: bold;'>Bill
								to Party</span></th>
						<th class="text-center"><span style='font-weight: bold;'>Ship
								to Party</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="pt-3-half"> 
							<select name="accountNo">
						<option th:each="account : ${accountList}" th:value="${account.id}"
									th:text="${account.accountName}"></option>
					</select>
						</td>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="nameShip" placeholder="Name" required="required" readonly="readonly"></td>
					</tr>
					<tr>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="addressBill" placeholder="Address" required="required" readonly="readonly"></td>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="addressShip" placeholder="Address" required="required"></td>
					</tr>
					<tr>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="gstinBill" placeholder="GSTIN" onblur="validateGST(this)"
							pattern="^([0-9]{2}[a-zA-Z]{4}([a-zA-Z]{1}|[0-9]{1})[0-9]{4}[a-zA-Z]{1}([a-zA-Z]|[0-9]){3}){0,15}$"
							required="required" readonly="readonly"
							oninvalid="this.setCustomValidity('GST Identification Number is not valid. It should be in this 11AAAAA1111Z1A1 format')" oninput="setCustomValidity('')"></td>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="gstinShip" placeholder="GSTIN"
							pattern="^([0-9]{2}[a-zA-Z]{4}([a-zA-Z]{1}|[0-9]{1})[0-9]{4}[a-zA-Z]{1}([a-zA-Z]|[0-9]){3}){0,15}$"
							required="required" readonly="readonly"
							oninvalid="this.setCustomValidity('GST Identification Number is not valid. It should be in this 11AAAAA1111Z1A1 format')" oninput="setCustomValidity('')"></td>
					</tr>
					<tr>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="stateBill" placeholder="State" required="required" readonly="readonly"></td>
						<td class="pt-3-half"><input type="text" class="form-control"
							name="stateShip" placeholder="State" required="required"></td>
					</tr>

				</tbody>

			</table>

			<div id = "alert_placeholder"></div>

			<div id="tableJson">
				<div id=table>
					<input type="hidden" id="itemList" name="itemList">
					<table id="itemTable" border="1"
						class="table table-width2 table-responsive-md text-center">
						<colgroup>
						<col width="2%">
						<col width="10%">
						<col width="7%">
						<col width="5%">
						<col width="7%">
						<col width="8%">
						<col width="10%">
						<col width="5%">
						<col width="9%">
						<col width="6%">
						<col width="5%">
						<col width="5%">
						<col width="5%">
						<col width="10%">
						</colgroup>
						<thead>
							<tr bgcolor="#BFD6E9">
								<th class="text-center text-uppercase" width="100%" colspan="14"><span style='font-weight: bold;'>Item
								Details</span></th>
							</tr>
							<tr bgcolor="#BFD6E9">
								<th class="text-center">Sr. No.</th>
								<th class="text-center">Product Description</th>
								<th class="text-center">HSN Code</th>
								<th class="text-center">UOM</th>
								<th class="text-center">Qty</th>
								<th class="text-center">Rate</th>
								<th class="text-center">Amount</th>
								<th class="text-center">Discount</th>
								<th class="text-center">GST rate</th>
								<th class="text-center">Taxable Value</th>
								<th class="text-center">CGST</th>
								<th class="text-center">SGST</th>
								<th class="text-center">IGST</th>
								<th class="text-center">Total Amount</th>
							</tr>
						</thead>
						<tbody>
						<datalist id="data">
								<option th:each="item : ${itemList}" th:value="${item.id}"
									th:text="${item.productDescription}"></option>
							</datalist>
							<tr>
								<td class="pt-3-half"><input type="text" id="srNo"
									name="excluded:skip" placeholder="Sr No" readonly="readonly"></td>
								<td class="pt-3-half">
								<input list="data" id="productDesc" class="form-control" placeholder="Product Description" required="required" autocomplete="off"> 
							    </td>
								<td class="pt-3-half"><input type="text" id="hsnCode"
									name="excluded:skip" placeholder="HSN Code" required="required"></td>
								<td class="pt-3-half"><input type="text" id="uom"
									name="excluded:skip" placeholder="UOM" required="required"></td>
								<td class="pt-3-half"><input type="text" onfocus="(this.type='number')" onblur="(this.type='text')" min="0" id="qty"
									name="excluded:skip" placeholder="QTY" required="required"></td>
								<td class="pt-3-half"><input type="text" onfocus="(this.type='number')" onblur="(this.type='text')" min="0"
									id="rate" name="excluded:skip" placeholder="Rate"
									required="required"></td>
								<td class="pt-3-half"><input type="text" id="amount"
									name="excluded:skip" placeholder="Amount" readonly="readonly"></td>
								<td class="pt-3-half"><input type="text" onfocus="(this.type='number')" onblur="(this.type='text')" min="0"
									id="discount" name="excluded:skip" placeholder="Discount"
									required="required"></td>
								<td class="pt-3-half"><input type="text" onfocus="(this.type='number')" onblur="(this.type='text')" min="0"
									id="gstRate" name="excluded:skip" placeholder="GST Rate"
									required="required"> 
								</td>
								<td class="pt-3-half"><input type="text" id="taxableValue"
									name="excluded:skip" placeholder="Taxable Value"
									readonly="readonly"></td>
								<td class="pt-3-half"><input type="text" id="cgst"
									name="excluded:skip" placeholder="CGST" readonly="readonly"></td>
								<td class="pt-3-half"><input type="text" id="sgst"
									name="excluded:skip" placeholder="SGST" readonly="readonly"></td>
								<td class="pt-3-half"><input type="text" id="igst"
									name="excluded:skip" placeholder="IGST" readonly="readonly"></td>
								<td class="pt-3-half"><input type="text" id="totalAmount"
									name="excluded:skip" placeholder="Total Amount"
									readonly="readonly"></td>
								<td>
									<figure style="display: flex;">
										<span class="table-add"><img class="autoResizeImage"
											style="margin-right: 2px;" th:src="@{/images/add.png}" alt=""></span>
										<span class="table-remove"><img class="autoResizeImage"
											style="margin-left: 2px;" th:src="@{/images/remove.png}"
											alt=""></span>
									</figure>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td class="pt-3-half" colspan="4"><span
									style='font-weight: bold;'>Total</span></td>
								<td class="pt-3-half"><input type="text" name="ttlQty"
									readonly="readonly"></td>
								<td class="pt-3-half"></td>
								<td class="pt-3-half"><input type="text" name="ttlAmount"
									readonly="readonly"></td>
								<td class="pt-3-half" colspan="2"></td>
								<td class="pt-3-half"><input type="text"
									name="ttlTaxableValue" readonly="readonly"></td>
								<td id ="ttlCgst" class="pt-3-half"><input type="text" name="ttlCgst"
									readonly="readonly"></td>
								<td id ="ttlSgst" class="pt-3-half"><input type="text" name="ttlSgst"
									readonly="readonly"></td>
								<td id ="ttlIgst" class="pt-3-half"><input type="text" name="ttlIgst"
									readonly="readonly"></td>
								<td class="pt-3-half"><input type="text"
									name="ttlTotalAmount" readonly="readonly"></td>
							</tr>
							<tr>
								<td class="pt-3-half" colspan="5" bgcolor="#BFD6E9"><span
									style='font-weight: bold;'>Total Invoice amount in words</span></td>
								<td class="pt-3-half" colspan="8"><span
									style='font-weight: bold;'>Total Amount before Tax</span></td>
								<td class="pt-3-half"><input type="text"
									name="totalAmountBeforeTax" readonly="readonly"></td>
							</tr>
							<tr>
								<td rowspan="5" colspan="5" id="amountWords"></td>
								<td class="pt-3-half" colspan="8" bgcolor="#92D14F"><span
									style='font-weight: bold;'>Add: IGST</span></td>
								<td class="pt-3-half" id="igstData"><input type="text" name="totalAddIGst"
									readonly="readonly"></td>
							</tr>
							<tr>
							<td class="pt-3-half" colspan="8" bgcolor="#92D14F"><span
									style='font-weight: bold;'>Add: SGST</span></td>
								<td class="pt-3-half" id="sgstData"><input type="text" name="totalAddSGst"
									readonly="readonly"></td>
							</tr>
							<tr>
							<td class="pt-3-half" colspan="8" bgcolor="#92D14F"><span
									style='font-weight: bold;'>Add: CGST</span></td>
								<td class="pt-3-half" id="cgstData"><input type="text" name="totalAddCGst"
									readonly="readonly"></td>
							</tr>
							<tr>
								<td class="pt-3-half" colspan="8"><span
									style='font-weight: bold;'>Total Tax Amount</span></td>
								<td class="pt-3-half"><input type="text"
									name="totalTaxAmount" readonly="readonly"></td>
							</tr>
							<tr>
								<td class="pt-3-half" colspan="8"><span
									style='font-weight: bold;'>Total Amount After Tax</span></td>
								<td class="pt-3-half"><input type="text"
									name="totalAmountAfterTax" readonly="readonly"></td>
							</tr>
							<tr>
								<td class="pt-3-half" bgcolor="#BFD6E9" colspan="3"><span
									style='font-weight: bold;'>Bank Details:</span></td>
								<td class="pt-3-half" rowspan="5" colspan="2"></td>
								<td class="pt-3-half" colspan="8"><span
									style='font-weight: bold;'>GST on Reverse Charge</span></td>
								<td class="pt-3-half"><input type="text"
									name="gstReverseCharge" readonly="readonly"></td>
							</tr>
							<tr>
								<td class="pt-3-half" colspan="3"><input type="text"
									name="bankAccountNumber" th:value="${company.companyBankAC}" readonly="readonly"></td>
								<td class="pt-3-half" rowspan="5" colspan="9">Certified the
									particulars given above are required and correct <pre>
		
		
		</pre><span style='font-weight: bold;'>For [[${company.companyName}]]</span> <pre>
		
		
		
		
		
		
		</pre><span style='font-weight: bold;'>Authorized Signatory</span>
								</td>
							</tr>
							<tr>
								<td class="pt-3-half" colspan="3"><input type="text"
									name="bankifsc" th:value="${company.companyBankIFSC}" readonly="readonly"></td>
							</tr>
							<tr>
								<td class="pt-3-half" colspan="3"><span
									style='font-weight: bold;'>Bank</span></td>
							</tr>
							<tr>
								<td class="pt-3-half" colspan="3" rowspan="2"><textarea
										cols="40" rows="5" style="height: 110px;"
										name="termsConditions" th:text="${company.companyBankTNC}" readonly="readonly"></textarea></td>
							</tr>
							<tr>
								<td class="pt-3-half" colspan="2">Common Seal</td>
							</tr>
						</tfoot>

					</table>
				</div>
				<div class="row">
				<div class="col-md-5 form-group"></div>
				<div class="col-md-2 form-group"><button id="export-btn" name="salesInvoice"
					class="btn btn-info btn-rounded btn-sm my-0">Create Invoice</button>
					</div>
				<div class="col-md-4 form-group"></div>
					</div>
			</div>

		</div>
		<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br/>
    Loading...
</div>
	</form>
</div>
<th:block layout:fragment="scripts">
	<script>
window.onload = function() {
	setValues();
};

 function inputValidate(){
	   var e = event || window.event;  
	   var key = e.keyCode || e.which;                              
	   if ((key===89)||(key===78)||(key===8)) {
		   return true;
		   
	   }
	           if (e.preventDefault) e.preventDefault(); 
	           e.returnValue = false; 
	   
 }
</script>
</th:block>